@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC 6 Recipes</h1>
    <p class="lead">Recipe 3-1. Understanding Razor Sytax</p>

</div>

<div class="row">

    <div class="col-md-8">
        <h2>Razor Sytax Examples</h2>
        <ul>
            <li>@Html.ActionLink("Variables And Directives", "Variables")</li>
            <li>@Html.ActionLink("Control Statements", "ControlFlow")</li>
            <li>@Html.ActionLink("Loops", "Loops")</li>
            <li>@Html.ActionLink("HTML Helpers", "Helper")</li>
            <li>@Html.ActionLink("Code Blocks", "CodeBlocks")</li>
            <li>@Html.ActionLink("Code Nuggets", "CodeNuggets")</li>
            <li>@Html.ActionLink("Explicit Markup", "ExplicitMarkup")</li>
            <li>@Html.ActionLink("Comments", "Comments")</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Deploy</h2>
        <ul>
            
        </ul>
    </div>
</div>